*~
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.jax
*.oc
*.dvi
*.idx
*.ilg
*.ind
*.4ct
*.4tc
*.auxlock
*.html
*.idv
*.tmp
*.xref
*.lg
*.svg
*.md5
*.dpth
*.ps
*.DS_Store
*.ids
*.table
*.dat
*.script
*.dep
*.sagetex.sage
*.json
*.sagetex.sage.py
*.sagetex.sout
*.sagetex.scmd
#*
*.synctex.gz(busy)
*.term
auto/
*.fdb_latexmk
*.fls
*-figure*
1-1QuantitativeReasoning/1-1-1Estimations.pdf
1-1QuantitativeReasoning/Exercises/EUAP12.pdf
1-1QuantitativeReasoning/Exercises/EUAP13.pdf
1-1QuantitativeReasoning/Exercises/EUAP14.pdf
1-1QuantitativeReasoning/Exercises/EUAP3.pdf
1-1QuantitativeReasoning/Exercises/EUAP4.pdf
1-1QuantitativeReasoning/Exercises/EUAP5.pdf
1-1QuantitativeReasoning/Exercises/EUAP6.pdf
1-1QuantitativeReasoning/Exercises/EUAP7.pdf
1-1QuantitativeReasoning/Exercises/EUAP8.pdf
1-1QuantitativeReasoning/ZAP1-1-3Percents.tex
1-1QuantitativeReasoning/learningObjectives.pdf
1-2RelationsAndGraphs/1-2-2RelationsAndGraphs-Relations.pdf
1-2RelationsAndGraphs/1-2-3RelationsAndGraphs-FamousFunctions.pdf
1-2RelationsAndGraphs/exercises/RaG1.pdf
1-2RelationsAndGraphs/exercises/exerciseList.pdf
1-2RelationsAndGraphs/learningObjectives.pdf
1-3ChangingInTandem/learningObjectives.pdf
1-3ChangingInTandem/output
2-1LinearEquations/learningObjectives.pdf
2-2-1LinearModeling.pdf
LM4-figure0.pdf
LM4-figure0.png
LM4-figure1.pdf
LM4-figure1.png
learningObjectives.pdf
2-3ExponentialModeling/exercises/EM10.pdf
2-3ExponentialModeling/exercises/EM11.pdf
2-3ExponentialModeling/exercises/EM12.pdf
2-3ExponentialModeling/exercises/EM13.pdf
2-3ExponentialModeling/exercises/EM14.pdf
2-3ExponentialModeling/exercises/EM15.pdf
2-3ExponentialModeling/exercises/EM16.pdf
2-3ExponentialModeling/exercises/EM5.pdf
2-3ExponentialModeling/exercises/EM6.pdf
2-3ExponentialModeling/exercises/EM7.pdf
2-3ExponentialModeling/exercises/EM8.pdf
2-3ExponentialModeling/exercises/EM9.pdf
2-3ExponentialModeling/learningObjectives.pdf
3-2FunctionProperties/3-2-2InverseFunctions-figure0.pdf
3-2FunctionProperties/3-2-2InverseFunctions-figure0.png
3-2FunctionProperties/inverse-does-it-1-.png
3-2FunctionProperties/inverse-does-it-2-.png
3-2FunctionProperties/inverse-plot-reflection-.png
3-2FunctionProperties/learningObjectives.pdf
3-2FunctionProperties/traversing-first-example-.png
3-2FunctionProperties/traversing-first-example-graph-.png
3-3AverageRatesOfChange/aroc-act-trends-h-.png
3-3AverageRatesOfChange/aroc-act-trends-q-.png
3-3AverageRatesOfChange/aroc-f-x-defn-.png
3-3AverageRatesOfChange/aroc-s-t-blank-axes-.png
3-3AverageRatesOfChange/aroc-s-t-ex-1-.png
3-3AverageRatesOfChange/exercises/ARoC1.pdf
3-3AverageRatesOfChange/exercises/ARoC2.pdf
3-3AverageRatesOfChange/exercises/ARoC4.pdf
3-3AverageRatesOfChange/exercises/ARoC5.pdf
3-3AverageRatesOfChange/exercises/ARoC6.pdf
3-3AverageRatesOfChange/exercises/ARoC7.pdf
3-3AverageRatesOfChange/exercises/exerciseList.pdf
3-3AverageRatesOfChange/exercises/exercisesFromAPC.pdf
3-3AverageRatesOfChange/learningObjectives.pdf
4-1BuildingNewFunctions/4-1-2CreatingANewFunction-Tangent.pdf
4-1BuildingNewFunctions/learningObjectives.pdf
4-2Polynomials/4-2-3ShapeOfPolynomials.pdf
4-2Polynomials/learningObjectives.pdf
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX.pdf
4-3RationalFunctions/4-3-2PolynomialLongDivision.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions.pdf
4-3RationalFunctions/exercises/RF1.pdf
4-3RationalFunctions/exercises/RF10.pdf
4-3RationalFunctions/exercises/RF11.pdf
4-3RationalFunctions/exercises/RF12.pdf
4-3RationalFunctions/exercises/RF13.pdf
4-3RationalFunctions/exercises/RF14.pdf
4-3RationalFunctions/exercises/RF15.pdf
4-3RationalFunctions/exercises/RF16.pdf
4-3RationalFunctions/exercises/RF2.pdf
4-3RationalFunctions/exercises/RF3.pdf
4-3RationalFunctions/exercises/RF4.pdf
4-3RationalFunctions/exercises/RF5.pdf
4-3RationalFunctions/exercises/RF6.pdf
4-3RationalFunctions/exercises/RF7.pdf
4-3RationalFunctions/exercises/RF8.pdf
4-3RationalFunctions/exercises/RF9.pdf
4-3RationalFunctions/exercises/exerciseList.pdf
4-3RationalFunctions/learningObjectives.pdf
5-1Domain/exercises/LE3.pdf
5-1Domain/exercises/LE4.pdf
5-1Domain/exercises/LE5.pdf
5-1Domain/exercises/LE6.pdf
5-1Domain/exercises/LE7.pdf
5-1Domain/exercises/LE8.pdf
5-1Domain/exercises/LE9-figure0.pdf
5-1Domain/exercises/LE9-figure0.png
5-1Domain/exercises/LE9.pdf
5-1Domain/learningObjectives.pdf
5-2Range/5-2-1Range.pdf
5-2Range/learningObjectives.pdf
5-3CompositionOfFunctions/learningObjectives.pdf
6-1ZerosOfFunctions/learningObjectives.pdf
6-2ZerosOfPolynomials/6-2-3InterpertingZerosOfPolynomials.pdf
6-2ZerosOfPolynomials/learningObjectives.pdf
6-3ZerosOfFamousFunctions/learningObjectives.pdf
7-1FunctionTransformations/7-1-1VerticalAndHorizontalShifts.pdf
7-1FunctionTransformations/7-1-2StretchingFunctions.pdf
7-1FunctionTransformations/7-1-3ReflectionsOfFunctions.pdf
7-1FunctionTransformations/learningObjectives.pdf
7-2SystemsOfEquations/7-2SystemsofEquations.pdf
7-2SystemsOfEquations/learningObjectives.pdf
7-3EndOfSemesterProject/7-3-1CreatingAFont.pdf
7-3EndOfSemesterProject/learningObjectives.pdf
precalculusWithReview1.pdf

