*~
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.jax
*.oc
*.dvi
*.idx
*.ilg
*.ind
*.4ct
*.4tc
*.auxlock
*.html
*.idv
*.tmp
*.xref
*.lg
*.svg
*.md5
*.dpth
*.ps
*.DS_Store
*.ids
*.table
*.dat
*.script
*.dep
*.sagetex.sage
*.json
*.sagetex.sage.py
*.sagetex.sout
*.sagetex.scmd
#*
*.synctex.gz(busy)
auto/
*.fdb_latexmk
*.fls
*-figure*
1-1QuantitativeReasoning/1-1-1Estimations.pdf
1-1QuantitativeReasoning/Exercises/EUAP12.pdf
1-1QuantitativeReasoning/Exercises/EUAP13.pdf
1-1QuantitativeReasoning/Exercises/EUAP14.pdf
1-1QuantitativeReasoning/Exercises/EUAP3.pdf
1-1QuantitativeReasoning/Exercises/EUAP4.pdf
1-1QuantitativeReasoning/Exercises/EUAP5.pdf
1-1QuantitativeReasoning/Exercises/EUAP6.pdf
1-1QuantitativeReasoning/Exercises/EUAP7.pdf
1-1QuantitativeReasoning/Exercises/EUAP8.pdf
1-1QuantitativeReasoning/ZAP1-1-3Percents.tex
1-1QuantitativeReasoning/learningObjectives.pdf
1-2RelationsAndGraphs/1-2-2RelationsAndGraphs-Relations.pdf
1-2RelationsAndGraphs/1-2-3RelationsAndGraphs-FamousFunctions.pdf
1-2RelationsAndGraphs/exercises/RaG1.pdf
1-2RelationsAndGraphs/exercises/exerciseList.pdf
1-2RelationsAndGraphs/learningObjectives.pdf
1-3ChangingInTandem/learningObjectives.pdf
1-3ChangingInTandem/output
13ChangingInTandem/
2-1 Linear Equations/
2-1LinearEquations/learningObjectives.pdf
2-2 Linear Modeling/
../2-2-1LinearModeling.pdf
LM4-figure0.pdf
LM4-figure0.png
LM4-figure1.pdf
LM4-figure1.png
../learningObjectives.pdf
2-3ExponentialModeling/exercises/EM10.pdf
2-3ExponentialModeling/exercises/EM11.pdf
2-3ExponentialModeling/exercises/EM12.pdf
2-3ExponentialModeling/exercises/EM13.pdf
2-3ExponentialModeling/exercises/EM14.pdf
2-3ExponentialModeling/exercises/EM15.pdf
2-3ExponentialModeling/exercises/EM16.pdf
2-3ExponentialModeling/exercises/EM5.pdf
2-3ExponentialModeling/exercises/EM6.pdf
2-3ExponentialModeling/exercises/EM7.pdf
2-3ExponentialModeling/exercises/EM8.pdf
2-3ExponentialModeling/exercises/EM9.pdf
2-3ExponentialModeling/learningObjectives.pdf
3-2FunctionProperties/3-2-1FunctionProperties-figure0.pdf
3-2FunctionProperties/3-2-1FunctionProperties-figure0.png
3-2FunctionProperties/3-2-1FunctionProperties-figure1.pdf
3-2FunctionProperties/3-2-1FunctionProperties-figure1.png
3-2FunctionProperties/3-2-1FunctionProperties-figure2.pdf
3-2FunctionProperties/3-2-1FunctionProperties-figure2.png
3-2FunctionProperties/3-2-1FunctionProperties-figure3.pdf
3-2FunctionProperties/3-2-1FunctionProperties-figure3.png
3-2FunctionProperties/3-2-1FunctionProperties0x.png
3-2FunctionProperties/3-2-1FunctionProperties1x.png
3-2FunctionProperties/3-2-1FunctionProperties2x.png
3-2FunctionProperties/3-2-1FunctionProperties3x.png
3-2FunctionProperties/3-2-2InverseFunctions-figure0.pdf
3-2FunctionProperties/3-2-2InverseFunctions-figure0.png
3-2FunctionProperties/exercises/FP2-figure0.pdf
3-2FunctionProperties/exercises/FP2-figure0.png
3-2FunctionProperties/exercises/FP2-figure1.pdf
3-2FunctionProperties/exercises/FP2-figure1.png
3-2FunctionProperties/exercises/FP2-figure2.pdf
3-2FunctionProperties/exercises/FP2-figure2.png
3-2FunctionProperties/exercises/FP2-figure3.pdf
3-2FunctionProperties/exercises/FP2-figure3.png
3-2FunctionProperties/exercises/FP2-figure4.pdf
3-2FunctionProperties/exercises/FP2-figure4.png
3-2FunctionProperties/exercises/FP2-figure5.pdf
3-2FunctionProperties/exercises/FP2-figure5.png
3-2FunctionProperties/exercises/FP2-figure6.pdf
3-2FunctionProperties/exercises/FP2-figure6.png
3-2FunctionProperties/exercises/FP2-figure7.pdf
3-2FunctionProperties/exercises/FP2-figure7.png
3-2FunctionProperties/inverse-does-it-1-.png
3-2FunctionProperties/inverse-does-it-2-.png
3-2FunctionProperties/inverse-plot-reflection-.png
3-2FunctionProperties/learningObjectives.pdf
3-2FunctionProperties/traversing-first-example-.png
3-2FunctionProperties/traversing-first-example-graph-.png
3-3AverageRatesOfChange/aroc-act-trends-h-.png
3-3AverageRatesOfChange/aroc-act-trends-q-.png
3-3AverageRatesOfChange/aroc-f-x-defn-.png
3-3AverageRatesOfChange/aroc-s-t-blank-axes-.png
3-3AverageRatesOfChange/aroc-s-t-ex-1-.png
3-3AverageRatesOfChange/exercises/ARoC1.pdf
3-3AverageRatesOfChange/exercises/ARoC2.pdf
3-3AverageRatesOfChange/exercises/ARoC3-figure0.pdf
3-3AverageRatesOfChange/exercises/ARoC3-figure0.png
3-3AverageRatesOfChange/exercises/ARoC30x.png
3-3AverageRatesOfChange/exercises/ARoC31x.png
3-3AverageRatesOfChange/exercises/ARoC32x.png
3-3AverageRatesOfChange/exercises/ARoC33x.png
3-3AverageRatesOfChange/exercises/ARoC4.pdf
3-3AverageRatesOfChange/exercises/ARoC5.pdf
3-3AverageRatesOfChange/exercises/ARoC6.pdf
3-3AverageRatesOfChange/exercises/ARoC7.pdf
3-3AverageRatesOfChange/exercises/exerciseList.pdf
3-3AverageRatesOfChange/exercises/exercisesFromAPC.pdf
3-3AverageRatesOfChange/learningObjectives.pdf
3-4ExponentialFunctions/e-2-e-3-.png
3-4ExponentialFunctions/e-base-compression-.png
3-4ExponentialFunctions/growth-PA-blank-axes-.png
3-4ExponentialFunctions/growth-act-a-b-t-.png
3-4ExponentialFunctions/growth-decr-CCU-.png
3-4ExponentialFunctions/growth-find-a-b-.png
3-4ExponentialFunctions/growth-incr-CCU-.png
3-4ExponentialFunctions/modeling-F-t-blank-axes-.png
3-4ExponentialFunctions/modeling-coffee-original-.png
3-4ExponentialFunctions/modeling-coffee-shifted-.png
3-4ExponentialFunctions/modeling-exp-coffee-.png
3-4ExponentialFunctions/modeling-exp-reflection-.png
3-4ExponentialFunctions/modeling-vert-transl-0-.png
3-4ExponentialFunctions/modeling-vert-transl-c-.png
4-1BuildingNewFunctions/4-1-1AlgebraOfFunctions.pdf
4-1BuildingNewFunctions/4-1-2CreatingANewFunction-Tangent.pdf
4-1BuildingNewFunctions/learningObjectives.pdf
4-2Polynomials/4-2-1Parabolas-figure0.pdf
4-2Polynomials/4-2-1Parabolas-figure0.png
4-2Polynomials/4-2-1Parabolas-figure1.pdf
4-2Polynomials/4-2-1Parabolas-figure1.png
4-2Polynomials/4-2-1Parabolas-figure2.pdf
4-2Polynomials/4-2-1Parabolas-figure2.png
4-2Polynomials/4-2-1Parabolas-figure3.pdf
4-2Polynomials/4-2-1Parabolas-figure3.png
4-2Polynomials/4-2-1Parabolas-figure4.pdf
4-2Polynomials/4-2-1Parabolas-figure4.png
4-2Polynomials/4-2-1Parabolas-figure5.pdf
4-2Polynomials/4-2-1Parabolas-figure5.png
4-2Polynomials/4-2-1Parabolas-figure6.pdf
4-2Polynomials/4-2-1Parabolas-figure6.png
4-2Polynomials/4-2-1Parabolas-figure7.pdf
4-2Polynomials/4-2-1Parabolas-figure7.png
4-2Polynomials/4-2-1Parabolas-figure8.pdf
4-2Polynomials/4-2-1Parabolas-figure8.png
4-2Polynomials/4-2-1Parabolas-figure9.pdf
4-2Polynomials/4-2-1Parabolas-figure9.png
4-2Polynomials/4-2-3ShapeOfPolynomials.pdf
4-2Polynomials/learningObjectives.pdf
4-2Polynomials/poly-degree-7-far-.png
4-2Polynomials/poly-degree-7-near-.png
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure0.pdf
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure0.png
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure1.pdf
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure1.png
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure2.pdf
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure2.png
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure3.pdf
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX-figure3.png
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX.pdf
4-3RationalFunctions/4-3-2PolynomialLongDivision.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure0.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure0.png
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure1.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure1.png
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure2.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure2.png
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure3.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure3.png
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure4.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure4.png
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure5.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions-figure5.png
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions.pdf
4-3RationalFunctions/exercises/RF1.pdf
4-3RationalFunctions/exercises/RF10.pdf
4-3RationalFunctions/exercises/RF11.pdf
4-3RationalFunctions/exercises/RF12.pdf
4-3RationalFunctions/exercises/RF13.pdf
4-3RationalFunctions/exercises/RF14.pdf
4-3RationalFunctions/exercises/RF15.pdf
4-3RationalFunctions/exercises/RF16.pdf
4-3RationalFunctions/exercises/RF2.pdf
4-3RationalFunctions/exercises/RF3.pdf
4-3RationalFunctions/exercises/RF4.pdf
4-3RationalFunctions/exercises/RF5.pdf
4-3RationalFunctions/exercises/RF6.pdf
4-3RationalFunctions/exercises/RF7.pdf
4-3RationalFunctions/exercises/RF8.pdf
4-3RationalFunctions/exercises/RF9.pdf
4-3RationalFunctions/exercises/exerciseList.pdf
4-3RationalFunctions/learningObjectives.pdf
5-1Domain/5-1-1Domain-figure0.pdf
5-1Domain/5-1-1Domain-figure0.png
5-1Domain/5-1-1Domain-figure1.pdf
5-1Domain/5-1-1Domain-figure1.png
5-1Domain/5-1-1Domain-figure10.pdf
5-1Domain/5-1-1Domain-figure10.png
5-1Domain/5-1-1Domain-figure11.pdf
5-1Domain/5-1-1Domain-figure11.png
5-1Domain/5-1-1Domain-figure12.pdf
5-1Domain/5-1-1Domain-figure12.png
5-1Domain/5-1-1Domain-figure13.pdf
5-1Domain/5-1-1Domain-figure13.png
5-1Domain/5-1-1Domain-figure2.pdf
5-1Domain/5-1-1Domain-figure2.png
5-1Domain/5-1-1Domain-figure3.pdf
5-1Domain/5-1-1Domain-figure3.png
5-1Domain/5-1-1Domain-figure4.pdf
5-1Domain/5-1-1Domain-figure4.png
5-1Domain/5-1-1Domain-figure5.pdf
5-1Domain/5-1-1Domain-figure5.png
5-1Domain/5-1-1Domain-figure6.pdf
5-1Domain/5-1-1Domain-figure6.png
5-1Domain/5-1-1Domain-figure7.pdf
5-1Domain/5-1-1Domain-figure7.png
5-1Domain/5-1-1Domain-figure8.pdf
5-1Domain/5-1-1Domain-figure8.png
5-1Domain/5-1-1Domain-figure9.pdf
5-1Domain/5-1-1Domain-figure9.png
5-1Domain/5-1-1Domain0x.png
5-1Domain/5-1-1Domain10x.png
5-1Domain/5-1-1Domain1x.png
5-1Domain/5-1-1Domain2x.png
5-1Domain/5-1-1Domain3x.png
5-1Domain/5-1-1Domain4x.png
5-1Domain/5-1-1Domain5x.png
5-1Domain/5-1-1Domain6x.png
5-1Domain/5-1-1Domain7x.png
5-1Domain/5-1-1Domain8x.png
5-1Domain/5-1-1Domain9x.png
5-1Domain/exercises/D1-figure0.pdf
5-1Domain/exercises/D1-figure0.png
5-1Domain/exercises/D2-figure0.pdf
5-1Domain/exercises/D2-figure0.png
5-1Domain/exercises/D3-figure0.pdf
5-1Domain/exercises/D3-figure0.png
5-1Domain/exercises/LE2.pdf
5-1Domain/exercises/LE3-figure0.pdf
5-1Domain/exercises/LE3-figure0.png
5-1Domain/exercises/LE3.pdf
5-1Domain/exercises/LE4-figure0.pdf
5-1Domain/exercises/LE4-figure0.png
5-1Domain/exercises/LE4.pdf
5-1Domain/exercises/LE5.pdf
5-1Domain/exercises/LE6.pdf
5-1Domain/exercises/LE7.pdf
5-1Domain/exercises/LE8.pdf
5-1Domain/exercises/LE9-figure0.pdf
5-1Domain/exercises/LE9-figure0.png
5-1Domain/exercises/LE9.pdf
5-1Domain/learningObjectives.pdf
5-2Range/5-2-1Range-figure0.pdf
5-2Range/5-2-1Range-figure0.png
5-2Range/5-2-1Range-figure1.pdf
5-2Range/5-2-1Range-figure1.png
5-2Range/5-2-1Range-figure2.pdf
5-2Range/5-2-1Range-figure2.png
5-2Range/5-2-1Range-figure3.pdf
5-2Range/5-2-1Range-figure3.png
5-2Range/5-2-1Range-figure4.pdf
5-2Range/5-2-1Range-figure4.png
5-2Range/5-2-1Range-figure5.pdf
5-2Range/5-2-1Range-figure5.png
5-2Range/5-2-1Range.pdf
5-2Range/5-2-1Range0x.png
5-2Range/learningObjectives.pdf
5-3CompositionOfFunctions/5-3-2DomainsOfCompositeFunctions-figure0.pdf
5-3CompositionOfFunctions/5-3-2DomainsOfCompositeFunctions-figure0.png
5-3CompositionOfFunctions/5-3-2DomainsOfCompositeFunctions-figure1.pdf
5-3CompositionOfFunctions/5-3-2DomainsOfCompositeFunctions-figure1.png
5-3CompositionOfFunctions/5-3-2DomainsOfCompositeFunctions0x.png
5-3CompositionOfFunctions/CompDom1-.png
5-3CompositionOfFunctions/CompositionText-.png
5-3CompositionOfFunctions/composite-Dolbears-Law-celcius-blank-.png
5-3CompositionOfFunctions/composite-act-graphs-.png
5-3CompositionOfFunctions/composite-aroc-a-b-.png
5-3CompositionOfFunctions/composite-aroc-a-h-.png
5-3CompositionOfFunctions/exercises/composite-ez-f-.png
5-3CompositionOfFunctions/exercises/composite-ez-g-.png
5-3CompositionOfFunctions/functions-Dolbears-Law-.png
5-3CompositionOfFunctions/learningObjectives.pdf
6-1ZerosOfFunctions/6-1-1ZerosOfAFunction-figure0.pdf
6-1ZerosOfFunctions/6-1-1ZerosOfAFunction-figure0.png
6-1ZerosOfFunctions/6-1-1ZerosOfAFunction-figure1.pdf
6-1ZerosOfFunctions/6-1-1ZerosOfAFunction-figure1.png
6-1ZerosOfFunctions/learningObjectives.pdf
6-2ZerosOfPolynomials/6-2-1FindingZerosOfQuadratics-figure0.pdf
6-2ZerosOfPolynomials/6-2-1FindingZerosOfQuadratics-figure0.png
6-2ZerosOfPolynomials/6-2-2FindingZerosOfPolynomials-figure0.pdf
6-2ZerosOfPolynomials/6-2-2FindingZerosOfPolynomials-figure0.png
6-2ZerosOfPolynomials/6-2-2FindingZerosOfPolynomials0x.png
6-2ZerosOfPolynomials/6-2-2FindingZerosOfPolynomials1x.png
6-2ZerosOfPolynomials/6-2-2FindingZerosOfPolynomials2x.png
6-2ZerosOfPolynomials/6-2-3InterpertingZerosOfPolynomials.pdf
6-2ZerosOfPolynomials/images/poly-degree-9-.png
6-2ZerosOfPolynomials/images/poly-degree-9-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/poly-sign-chart-2-.png
6-2ZerosOfPolynomials/images/poly-sign-chart-2-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/polynomial-1-1-1-1-.png
6-2ZerosOfPolynomials/images/polynomial-1-1-1-1-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/polynomial-2-1-1-.png
6-2ZerosOfPolynomials/images/polynomial-2-1-1-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/polynomial-2-2-.png
6-2ZerosOfPolynomials/images/polynomial-2-2-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/polynomial-3-1-.png
6-2ZerosOfPolynomials/images/polynomial-3-1-1-.png
6-2ZerosOfPolynomials/images/polynomial-3-1-1-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/polynomial-3-1-3-.png
6-2ZerosOfPolynomials/images/polynomial-3-1-3-eps-converted-to.pdf
6-2ZerosOfPolynomials/images/polynomial-3-1-eps-converted-to.pdf
6-2ZerosOfPolynomials/learningObjectives.pdf
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure0.pdf
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure0.png
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure1.pdf
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure1.png
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure2.pdf
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure2.png
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure3.pdf
6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions-figure3.png
6-3ZerosOfFamousFunctions/learningObjectives.pdf
7-1FunctionTransformations/7-1-1VerticalAndHorizontalShifts.pdf
7-1FunctionTransformations/7-1-2StretchingFunctions.pdf
7-1FunctionTransformations/7-1-3ReflectionsOfFunctions.pdf
7-1FunctionTransformations/learningObjectives.pdf
7-2SystemsOfEquations/7-2-1FromSystemstoSolutions-figure0.pdf
7-2SystemsOfEquations/7-2-1FromSystemstoSolutions-figure0.png
7-2SystemsOfEquations/7-2SystemsofEquations-figure0.png
7-2SystemsOfEquations/7-2SystemsofEquations.pdf
7-2SystemsOfEquations/learningObjectives.pdf
7-3EndOfSemesterProject/7-3-1CreatingAFont.pdf
7-3EndOfSemesterProject/learningObjectives.pdf
precalculusWithReview1.pdf

