*~
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.jax
*.oc
*.dvi
*.idx
*.ilg
*.ind
*.4ct
*.4tc
*.auxlock
*.html
*.idv
*.tmp
*.xref
*.lg
*.svg
*.md5
*.dpth
*.ps
*.DS_Store
*.ids
*.table
*.dat
*.script
*.dep
*.sagetex.sage
*.json
*.sagetex.sage.py
*.sagetex.sout
*.sagetex.scmd
#*
*.synctex.gz(busy)
*.term
auto/
*.fdb_latexmk
*.fls
*-figure*
1-1QuantitativeReasoning/1-1-1Estimations.pdf
1-1QuantitativeReasoning/Exercises/EUAP12.pdf
1-1QuantitativeReasoning/Exercises/EUAP13.pdf
1-1QuantitativeReasoning/Exercises/EUAP14.pdf
1-1QuantitativeReasoning/Exercises/EUAP3.pdf
1-1QuantitativeReasoning/Exercises/EUAP4.pdf
1-1QuantitativeReasoning/Exercises/EUAP5.pdf
1-1QuantitativeReasoning/Exercises/EUAP6.pdf
1-1QuantitativeReasoning/Exercises/EUAP7.pdf
1-1QuantitativeReasoning/Exercises/EUAP8.pdf
1-1QuantitativeReasoning/ZAP1-1-3Percents.tex
1-1QuantitativeReasoning/learningObjectives.pdf
1-2RelationsAndGraphs/1-2-2RelationsAndGraphs-Relations.pdf
1-2RelationsAndGraphs/1-2-3RelationsAndGraphs-FamousFunctions.pdf
1-2RelationsAndGraphs/exercises/RaG1.pdf
1-2RelationsAndGraphs/exercises/exerciseList.pdf
1-2RelationsAndGraphs/learningObjectives.pdf
1-3ChangingInTandem/learningObjectives.pdf
1-3ChangingInTandem/output
2-1LinearEquations/learningObjectives.pdf
2-2-1LinearModeling.pdf
LM4-figure0.pdf
LM4-figure0.png
LM4-figure1.pdf
LM4-figure1.png
learningObjectives.pdf
2-3ExponentialModeling/exercises/EM10.pdf
2-3ExponentialModeling/exercises/EM11.pdf
2-3ExponentialModeling/exercises/EM12.pdf
2-3ExponentialModeling/exercises/EM13.pdf
2-3ExponentialModeling/exercises/EM14.pdf
2-3ExponentialModeling/exercises/EM15.pdf
2-3ExponentialModeling/exercises/EM16.pdf
2-3ExponentialModeling/exercises/EM5.pdf
2-3ExponentialModeling/exercises/EM6.pdf
2-3ExponentialModeling/exercises/EM7.pdf
2-3ExponentialModeling/exercises/EM8.pdf
2-3ExponentialModeling/exercises/EM9.pdf
2-3ExponentialModeling/learningObjectives.pdf
3-2FunctionProperties/3-2-2InverseFunctions-figure0.pdf
3-2FunctionProperties/3-2-2InverseFunctions-figure0.png
3-2FunctionProperties/inverse-does-it-1-.png
3-2FunctionProperties/inverse-does-it-2-.png
3-2FunctionProperties/inverse-plot-reflection-.png
3-2FunctionProperties/learningObjectives.pdf
3-2FunctionProperties/traversing-first-example-.png
3-2FunctionProperties/traversing-first-example-graph-.png
3-3AverageRatesOfChange/aroc-act-trends-h-.png
3-3AverageRatesOfChange/aroc-act-trends-q-.png
3-3AverageRatesOfChange/aroc-f-x-defn-.png
3-3AverageRatesOfChange/aroc-s-t-blank-axes-.png
3-3AverageRatesOfChange/aroc-s-t-ex-1-.png
3-3AverageRatesOfChange/exercises/ARoC1.pdf
3-3AverageRatesOfChange/exercises/ARoC2.pdf
3-3AverageRatesOfChange/exercises/ARoC4.pdf
3-3AverageRatesOfChange/exercises/ARoC5.pdf
3-3AverageRatesOfChange/exercises/ARoC6.pdf
3-3AverageRatesOfChange/exercises/ARoC7.pdf
3-3AverageRatesOfChange/exercises/exerciseList.pdf
3-3AverageRatesOfChange/exercises/exercisesFromAPC.pdf
3-3AverageRatesOfChange/learningObjectives.pdf
4-1BuildingNewFunctions/4-1-2CreatingANewFunction-Tangent.pdf
4-1BuildingNewFunctions/learningObjectives.pdf
4-2Polynomials/4-2-3ShapeOfPolynomials.pdf
4-2Polynomials/learningObjectives.pdf
4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX.pdf
4-3RationalFunctions/4-3-2PolynomialLongDivision.pdf
4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions.pdf
4-3RationalFunctions/exercises/RF1.pdf
4-3RationalFunctions/exercises/RF10.pdf
4-3RationalFunctions/exercises/RF11.pdf
4-3RationalFunctions/exercises/RF12.pdf
4-3RationalFunctions/exercises/RF13.pdf
4-3RationalFunctions/exercises/RF14.pdf
4-3RationalFunctions/exercises/RF15.pdf
4-3RationalFunctions/exercises/RF16.pdf
4-3RationalFunctions/exercises/RF2.pdf
4-3RationalFunctions/exercises/RF3.pdf
4-3RationalFunctions/exercises/RF4.pdf
4-3RationalFunctions/exercises/RF5.pdf
4-3RationalFunctions/exercises/RF6.pdf
4-3RationalFunctions/exercises/RF7.pdf
4-3RationalFunctions/exercises/RF8.pdf
4-3RationalFunctions/exercises/RF9.pdf
4-3RationalFunctions/exercises/exerciseList.pdf
4-3RationalFunctions/learningObjectives.pdf
5-1Domain/exercises/LE3.pdf
5-1Domain/exercises/LE4.pdf
5-1Domain/exercises/LE5.pdf
5-1Domain/exercises/LE6.pdf
5-1Domain/exercises/LE7.pdf
5-1Domain/exercises/LE8.pdf
5-1Domain/exercises/LE9-figure0.pdf
5-1Domain/exercises/LE9-figure0.png
5-1Domain/exercises/LE9.pdf
5-1Domain/learningObjectives.pdf
5-2Range/5-2-1Range.pdf
5-2Range/learningObjectives.pdf
5-3CompositionOfFunctions/learningObjectives.pdf
6-1ZerosOfFunctions/learningObjectives.pdf
6-2ZerosOfPolynomials/6-2-3InterpertingZerosOfPolynomials.pdf
6-2ZerosOfPolynomials/learningObjectives.pdf
6-3ZerosOfFamousFunctions/learningObjectives.pdf
7-1FunctionTransformations/7-1-1VerticalAndHorizontalShifts.pdf
7-1FunctionTransformations/7-1-2StretchingFunctions.pdf
7-1FunctionTransformations/7-1-3ReflectionsOfFunctions.pdf
7-1FunctionTransformations/learningObjectives.pdf
7-2SystemsOfEquations/7-2SystemsofEquations.pdf
7-2SystemsOfEquations/learningObjectives.pdf
7-3EndOfSemesterProject/7-3-1CreatingAFont.pdf
7-3EndOfSemesterProject/learningObjectives.pdf
precalculusWithReview1.pdf
3-4ExponentialFunctions/3-4-1ExponentialEquations.pdf
3-4ExponentialFunctions/3-4-2ModelingWithExponentialFunctions.pdf
3-4ExponentialFunctions/3-4-3TheSpecialNumberE.pdf
./5-1Domain/5-1-1Domain.pdf
./5-1Domain/learningObjectives.pdf
./5-1Domain/exercises/exerciseList.pdf
./5-1Domain/exercises/D5.pdf
./5-1Domain/exercises/D3.pdf
./5-1Domain/exercises/D1.pdf
./5-1Domain/exercises/D4.pdf
./5-1Domain/exercises/D9.pdf
./5-1Domain/exercises/D8.pdf
./5-1Domain/exercises/D7.pdf
./5-1Domain/exercises/D6.pdf
./5-1Domain/exercises/D2.pdf
./precalculusWithReview2.pdf
./5-2Range/5-2-2FamousFunctionsUpdated.pdf
./5-2Range/learningObjectives.pdf
./5-2Range/exercises/R8.pdf
./5-2Range/exercises/exerciseList.pdf
./5-2Range/exercises/R7.pdf
./5-2Range/exercises/R4.pdf
./5-2Range/exercises/R9.pdf
./5-2Range/exercises/R2.pdf
./5-2Range/exercises/R6.pdf
./5-2Range/exercises/R5.pdf
./5-2Range/exercises/R3.pdf
./5-2Range/exercises/R1.pdf
./5-2Range/5-2-1Range.pdf
./7-1FunctionTransformations/7-1-1VerticalAndHorizontalShifts.pdf
./7-1FunctionTransformations/7-1-3ReflectionsOfFunctions.pdf
./7-1FunctionTransformations/learningObjectives.pdf
./7-1FunctionTransformations/7-1-2StretchingFunctions.pdf
./7-1FunctionTransformations/exercises/FT13.pdf
./7-1FunctionTransformations/exercises/FT15.pdf
./7-1FunctionTransformations/exercises/exerciseList.pdf
./7-1FunctionTransformations/exercises/FT8.pdf
./7-1FunctionTransformations/exercises/FT12.pdf
./7-1FunctionTransformations/exercises/FT10.pdf
./7-1FunctionTransformations/exercises/FT4.pdf
./7-1FunctionTransformations/exercises/FT3.pdf
./7-1FunctionTransformations/exercises/FT14.pdf
./7-1FunctionTransformations/exercises/FT7.pdf
./7-1FunctionTransformations/exercises/FT6.pdf
./7-1FunctionTransformations/exercises/FT1.pdf
./7-1FunctionTransformations/exercises/FT5.pdf
./7-1FunctionTransformations/exercises/FT16.pdf
./7-1FunctionTransformations/exercises/FT11.pdf
./7-1FunctionTransformations/exercises/FT9.pdf
./7-1FunctionTransformations/exercises/FT2.pdf
./7-2FunctionTransformationsProject/7-2-1CreatingAFont.pdf
./7-2FunctionTransformationsProject/learningObjectives.pdf
./3-4ExponentialFunctions/3-4-1ExponentialEquations.pdf
./3-4ExponentialFunctions/3-4-2ModelingWithExponentialFunctions.pdf
./3-4ExponentialFunctions/3-4-3TheSpecialNumberE.pdf
./3-4ExponentialFunctions/learningObjectives.pdf
./3-4ExponentialFunctions/exercises/exerciseList.pdf
./3-4ExponentialFunctions/exercises/EF5.pdf
./3-4ExponentialFunctions/exercises/EF16.pdf
./3-4ExponentialFunctions/exercises/EF13.pdf
./3-4ExponentialFunctions/exercises/EF14.pdf
./3-4ExponentialFunctions/exercises/EF12.pdf
./3-4ExponentialFunctions/exercises/EF4.pdf
./3-4ExponentialFunctions/exercises/EF7.pdf
./3-4ExponentialFunctions/exercises/EF3.pdf
./3-4ExponentialFunctions/exercises/EF8.pdf
./3-4ExponentialFunctions/exercises/EF6.pdf
./3-4ExponentialFunctions/exercises/EF15.pdf
./3-4ExponentialFunctions/exercises/EF9.pdf
./3-4ExponentialFunctions/exercises/EF11.pdf
./3-4ExponentialFunctions/exercises/EF1.pdf
./3-4ExponentialFunctions/exercises/EF10.pdf
./3-4ExponentialFunctions/exercises/EF2.pdf
./precalculusWithReview1.pdf
./1-2RelationsAndGraphs/learningObjectives.pdf
./1-2RelationsAndGraphs/1-2-3RelationsAndGraphs-FamousFunctions.pdf
./1-2RelationsAndGraphs/1-2-1RelationsAndGraphs-CartesianCoordinates.pdf
./1-2RelationsAndGraphs/exercises/RaG4.pdf
./1-2RelationsAndGraphs/exercises/exerciseList.pdf
./1-2RelationsAndGraphs/exercises/RaG1.pdf
./1-2RelationsAndGraphs/exercises/RaG6.pdf
./1-2RelationsAndGraphs/exercises/RaG9.pdf
./1-2RelationsAndGraphs/exercises/RaG10.pdf
./1-2RelationsAndGraphs/exercises/RaG8.pdf
./1-2RelationsAndGraphs/exercises/RaG3.pdf
./1-2RelationsAndGraphs/exercises/RaG2.pdf
./1-2RelationsAndGraphs/exercises/RaG12.pdf
./1-2RelationsAndGraphs/exercises/RaG5.pdf
./1-2RelationsAndGraphs/exercises/RaG11.pdf
./1-2RelationsAndGraphs/exercises/RaG7.pdf
./1-2RelationsAndGraphs/1-2-2RelationsAndGraphs-Relations.pdf
./2-2LinearModeling/learningObjectives.pdf
./2-2LinearModeling/2-2-1LinearModeling.pdf
./2-2LinearModeling/exercises/LM5.pdf
./2-2LinearModeling/exercises/exerciseList.pdf
./2-2LinearModeling/exercises/LM3.pdf
./2-2LinearModeling/exercises/LM1.pdf
./2-2LinearModeling/exercises/LM4.pdf
./2-2LinearModeling/exercises/LM2.pdf
./1-3ChangingInTandem/learningObjectives.pdf
./1-3ChangingInTandem/exercises/exerciseList.pdf
./1-3ChangingInTandem/exercises/CiT2.pdf
./1-3ChangingInTandem/exercises/CiT4.pdf
./1-3ChangingInTandem/exercises/CiT3.pdf
./1-3ChangingInTandem/exercises/CiT1.pdf
./1-3ChangingInTandem/1-3ChangingInTandem.pdf
./1-3ChangingInTandem/handout/1-3ChangingInTandem-WrittenExercises.pdf
./1-3ChangingInTandem/handout/preamble.pdf
./1-1QuantitativeReasoning/Exercises/EUAP9.pdf
./1-1QuantitativeReasoning/Exercises/exerciseList.pdf
./1-1QuantitativeReasoning/Exercises/EUAP5.pdf
./1-1QuantitativeReasoning/Exercises/EUAP6.pdf
./1-1QuantitativeReasoning/Exercises/EUAP1.pdf
./1-1QuantitativeReasoning/Exercises/EUAP2.pdf
./1-1QuantitativeReasoning/Exercises/EUAP11.pdf
./1-1QuantitativeReasoning/Exercises/EUAP13.pdf
./1-1QuantitativeReasoning/Exercises/EUAP15.pdf
./1-1QuantitativeReasoning/Exercises/EUAP12.pdf
./1-1QuantitativeReasoning/Exercises/EUAP8.pdf
./1-1QuantitativeReasoning/Exercises/EUAP4.pdf
./1-1QuantitativeReasoning/Exercises/EUAP10.pdf
./1-1QuantitativeReasoning/Exercises/EUAP14.pdf
./1-1QuantitativeReasoning/Exercises/EUAP3.pdf
./1-1QuantitativeReasoning/Exercises/EUAP7.pdf
./1-1QuantitativeReasoning/1-1-2Percents.pdf
./1-1QuantitativeReasoning/1-1-2Units.pdf
./1-1QuantitativeReasoning/1-1-1Estimations.pdf
./1-1QuantitativeReasoning/learningObjectives.pdf
./1-1QuantitativeReasoning/exercises/EUAP17.pdf
./1-1QuantitativeReasoning/exercises/EUAP20.pdf
./1-1QuantitativeReasoning/exercises/EUAP16.pdf
./1-1QuantitativeReasoning/exercises/EUAP19.pdf
./1-1QuantitativeReasoning/exercises/EUAP18.pdf
./3-1WhatIsAFunction/learningObjectives.pdf
./3-1WhatIsAFunction/exercises/exerciseList.pdf
./3-1WhatIsAFunction/exercises/WiaF3.pdf
./3-1WhatIsAFunction/exercises/WiaF1.pdf
./3-1WhatIsAFunction/exercises/WiaF10.pdf
./3-1WhatIsAFunction/exercises/WiaF5.pdf
./3-1WhatIsAFunction/exercises/WiaF8.pdf
./3-1WhatIsAFunction/exercises/WiaF2.pdf
./3-1WhatIsAFunction/exercises/WiaF7.pdf
./3-1WhatIsAFunction/exercises/WiaF-problemTemplate.pdf
./3-1WhatIsAFunction/exercises/WiaF6.pdf
./3-1WhatIsAFunction/exercises/WiaF9.pdf
./3-1WhatIsAFunction/exercises/WiaF4.pdf
./3-1WhatIsAFunction/3-1-1WhatIsAFunction.pdf
./2-1LinearEquations/2-1-1LinearEquations_FindingPatterns.pdf
./2-1LinearEquations/learningObjectives.pdf
./2-1LinearEquations/2-1-3LinearEquations_Forms.pdf
./2-1LinearEquations/exercises/exerciseList.pdf
./2-1LinearEquations/exercises/LE7.pdf
./2-1LinearEquations/exercises/LE1.pdf
./2-1LinearEquations/exercises/LE8.pdf
./2-1LinearEquations/exercises/LE5.pdf
./2-1LinearEquations/exercises/LE3.pdf
./2-1LinearEquations/exercises/LE9.pdf
./2-1LinearEquations/exercises/LE2.pdf
./2-1LinearEquations/exercises/LE4.pdf
./2-1LinearEquations/exercises/LE6.pdf
./2-1LinearEquations/2-1-2LinearEquations_Slope.pdf
./4-1BuildingNewFunctions/learningObjectives.pdf
./4-1BuildingNewFunctions/exercises/BNF10.pdf
./4-1BuildingNewFunctions/exercises/exerciseList.pdf
./4-1BuildingNewFunctions/exercises/BNF12.pdf
./4-1BuildingNewFunctions/exercises/BNF3.pdf
./4-1BuildingNewFunctions/exercises/BNF9.pdf
./4-1BuildingNewFunctions/exercises/BNF11.pdf
./4-1BuildingNewFunctions/exercises/BNF5.pdf
./4-1BuildingNewFunctions/exercises/BNF2.pdf
./4-1BuildingNewFunctions/exercises/BNF4.pdf
./4-1BuildingNewFunctions/exercises/BNF7.pdf
./4-1BuildingNewFunctions/exercises/BNF1.pdf
./4-1BuildingNewFunctions/exercises/BNF8.pdf
./4-1BuildingNewFunctions/exercises/BNF6.pdf
./4-1BuildingNewFunctions/4-1-2CreatingANewFunction-Tangent.pdf
./4-1BuildingNewFunctions/4-1-1AlgebraOfFunctions.pdf
./0-0HowTo/0-0MinimalWorkingExample.pdf
./8-1SystemsOfEquations/8-1-2SolvingSystemsAlgebraically.pdf
./8-1SystemsOfEquations/8-1-1FromSystemstoSolutions.pdf
./8-1SystemsOfEquations/8-1-3ApplicationsOfSystemsOfEquations.pdf
./8-1SystemsOfEquations/learningObjectives.pdf
./8-1SystemsOfEquations/exercises/exerciseList.pdf
./8-1SystemsOfEquations/exercises/SoE12.pdf
./8-1SystemsOfEquations/exercises/SoE14.pdf
./8-1SystemsOfEquations/exercises/SoE13.pdf
./8-1SystemsOfEquations/exercises/SoE10.pdf
./8-1SystemsOfEquations/exercises/SoE9.pdf
./8-1SystemsOfEquations/exercises/SoE2.pdf
./8-1SystemsOfEquations/exercises/SoE1.pdf
./8-1SystemsOfEquations/exercises/SoE8.pdf
./8-1SystemsOfEquations/exercises/SoE11.pdf
./8-1SystemsOfEquations/exercises/SoE15.pdf
./8-1SystemsOfEquations/exercises/SoE5.pdf
./8-1SystemsOfEquations/exercises/SoE7.pdf
./8-1SystemsOfEquations/exercises/SoE3.pdf
./8-1SystemsOfEquations/exercises/SoE4.pdf
./8-1SystemsOfEquations/exercises/SoE6.pdf
./8-1SystemsOfEquations/exercises/SoE16.pdf
./8-1SystemsOfEquations/planning/7-2SystemsofEquations.pdf
./8-3ApplicationsOfSystems/learningObjectives.pdf
./8-3ApplicationsOfSystems/8-3-1ApplicationsOfSystems.pdf
./exercises/exerciseListPrecalculusWithReview1.pdf
./2-3ExponentialModeling/2-3-2EarlyExponentials.pdf
./2-3ExponentialModeling/2-3-1ExponentRules.pdf
./2-3ExponentialModeling/learningObjectives.pdf
./2-3ExponentialModeling/exercises/EM10.pdf
./2-3ExponentialModeling/exercises/EM2.pdf
./2-3ExponentialModeling/exercises/exerciseList.pdf
./2-3ExponentialModeling/exercises/EM5.pdf
./2-3ExponentialModeling/exercises/EM7.pdf
./2-3ExponentialModeling/exercises/EM9.pdf
./2-3ExponentialModeling/exercises/EM6.pdf
./2-3ExponentialModeling/exercises/EM4.pdf
./2-3ExponentialModeling/exercises/EM15.pdf
./2-3ExponentialModeling/exercises/EM13.pdf
./2-3ExponentialModeling/exercises/EM16.pdf
./2-3ExponentialModeling/exercises/EM14.pdf
./2-3ExponentialModeling/exercises/EM12.pdf
./2-3ExponentialModeling/exercises/EM1.pdf
./2-3ExponentialModeling/exercises/EM11.pdf
./2-3ExponentialModeling/exercises/EM8.pdf
./2-3ExponentialModeling/exercises/EM3.pdf
./preamble.pdf
./6-3ZerosOfFamousFunctions/6-3-3ZerosOfExponentialFunctions.pdf
./6-3ZerosOfFamousFunctions/6-3-1ZerosOfRationalFunctions.pdf
./6-3ZerosOfFamousFunctions/learningObjectives.pdf
./6-3ZerosOfFamousFunctions/exercises/exerciseList.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF5.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF3.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF1.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF7.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF6.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF4.pdf
./6-3ZerosOfFamousFunctions/exercises/ZoFF2.pdf
./6-3ZerosOfFamousFunctions/6-3-2ZerosOfFunctionsWithRadicals.pdf
./6-2ZerosOfPolynomials/6-2-3InterpertingZerosOfPolynomials.pdf
./6-2ZerosOfPolynomials/6-2-2FindingZerosOfPolynomials.pdf
./6-2ZerosOfPolynomials/learningObjectives.pdf
./6-2ZerosOfPolynomials/exercises/ZOP1.pdf
./6-2ZerosOfPolynomials/exercises/exerciseList.pdf
./6-2ZerosOfPolynomials/exercises/ZOP2.pdf
./6-2ZerosOfPolynomials/exercises/ZOP3.pdf
./6-2ZerosOfPolynomials/exercises/ZOP5.pdf
./6-2ZerosOfPolynomials/exercises/ZOP4.pdf
./6-2ZerosOfPolynomials/exercises/ZOP6.pdf
./6-2ZerosOfPolynomials/6-2-1FindingZerosOfQuadratics.pdf
./3-3AverageRatesOfChange/learningObjectives.pdf
./3-3AverageRatesOfChange/exercises/ARoC5.pdf
./3-3AverageRatesOfChange/exercises/exerciseList.pdf
./3-3AverageRatesOfChange/exercises/ARoC4.pdf
./3-3AverageRatesOfChange/exercises/ARoC2.pdf
./3-3AverageRatesOfChange/exercises/ARoC1.pdf
./3-3AverageRatesOfChange/exercises/ARoC3.pdf
./3-3AverageRatesOfChange/exercises/ARoC7.pdf
./3-3AverageRatesOfChange/exercises/ARoC6.pdf
./3-3AverageRatesOfChange/3-3-1AverageRateOfChange.pdf
./4-3RationalFunctions/4-3-3DefinitionOfRationalFunctions.pdf
./4-3RationalFunctions/learningObjectives.pdf
./4-3RationalFunctions/exercises/RF8.pdf
./4-3RationalFunctions/exercises/exerciseList.pdf
./4-3RationalFunctions/exercises/RF7.pdf
./4-3RationalFunctions/exercises/RF11.pdf
./4-3RationalFunctions/exercises/RF13.pdf
./4-3RationalFunctions/exercises/RF2.pdf
./4-3RationalFunctions/exercises/RF9.pdf
./4-3RationalFunctions/exercises/RF1.pdf
./4-3RationalFunctions/exercises/RF4.pdf
./4-3RationalFunctions/exercises/RF3.pdf
./4-3RationalFunctions/exercises/RF12.pdf
./4-3RationalFunctions/exercises/RF6.pdf
./4-3RationalFunctions/exercises/RF15.pdf
./4-3RationalFunctions/exercises/RF16.pdf
./4-3RationalFunctions/exercises/RF5.pdf
./4-3RationalFunctions/exercises/RF14.pdf
./4-3RationalFunctions/exercises/RF10.pdf
./4-3RationalFunctions/4-3-2PolynomialLongDivision.pdf
./4-3RationalFunctions/4-3-1TheFamousFunctionOneOverX.pdf
./4-2Polynomials/4-2-3ShapeOfPolynomials.pdf
./4-2Polynomials/4-2-2DefinitionofPolynomials.pdf
./4-2Polynomials/learningObjectives.pdf
./4-2Polynomials/exercises/exerciseList.pdf
./4-2Polynomials/exercises/POLY3.pdf
./4-2Polynomials/exercises/POLY5.pdf
./4-2Polynomials/exercises/POLY2.pdf
./4-2Polynomials/exercises/POLY8.pdf
./4-2Polynomials/exercises/POLY4.pdf
./4-2Polynomials/exercises/POLY7.pdf
./4-2Polynomials/exercises/POLY6.pdf
./4-2Polynomials/exercises/POLY1.pdf
./4-2Polynomials/4-2-1Parabolas.pdf
./8-2NonlinearSystems/8-2-3EliminatingVariables.pdf
./8-2NonlinearSystems/8-2-2SolvingNonlinearSystemsGraphically.pdf
./8-2NonlinearSystems/learningObjectives.pdf
./8-2NonlinearSystems/exercises/exerciseList.pdf
./8-2NonlinearSystems/exercises/NS4.pdf
./8-2NonlinearSystems/exercises/NS7.pdf
./8-2NonlinearSystems/exercises/NS5.pdf
./8-2NonlinearSystems/exercises/NS11.pdf
./8-2NonlinearSystems/exercises/NS1.pdf
./8-2NonlinearSystems/exercises/NS9.pdf
./8-2NonlinearSystems/exercises/NS3.pdf
./8-2NonlinearSystems/exercises/NS2.pdf
./8-2NonlinearSystems/exercises/NS10.pdf
./8-2NonlinearSystems/exercises/NS12.pdf
./8-2NonlinearSystems/exercises/NS8.pdf
./8-2NonlinearSystems/exercises/NS6.pdf
./8-2NonlinearSystems/8-2-1FamousFormulas.pdf
./6-1ZerosOfFunctions/learningObjectives.pdf
./6-1ZerosOfFunctions/6-1-1ZerosOfAFunction.pdf
./6-1ZerosOfFunctions/6-1-2TheImportanceOfEquals.pdf
./6-1ZerosOfFunctions/exercises/ZoF6.pdf
./6-1ZerosOfFunctions/exercises/exerciseList.pdf
./6-1ZerosOfFunctions/exercises/ZoF11.pdf
./6-1ZerosOfFunctions/exercises/ZoF1.pdf
./6-1ZerosOfFunctions/exercises/ZoF7.pdf
./6-1ZerosOfFunctions/exercises/ZoF8.pdf
./6-1ZerosOfFunctions/exercises/ZoF5.pdf
./6-1ZerosOfFunctions/exercises/ZoF3.pdf
./6-1ZerosOfFunctions/exercises/ZoF10.pdf
./6-1ZerosOfFunctions/exercises/ZoF4.pdf
./6-1ZerosOfFunctions/exercises/ZoF2.pdf
./6-1ZerosOfFunctions/exercises/ZoF9.pdf
./5-3CompositionOfFunctions/learningObjectives.pdf
./5-3CompositionOfFunctions/exercises/CoF8.pdf
./5-3CompositionOfFunctions/exercises/exerciseList.pdf
./5-3CompositionOfFunctions/exercises/CoF5.pdf
./5-3CompositionOfFunctions/exercises/CoF4.pdf
./5-3CompositionOfFunctions/exercises/CoF1.pdf
./5-3CompositionOfFunctions/exercises/CoF2.pdf
./5-3CompositionOfFunctions/exercises/CoF7.pdf
./5-3CompositionOfFunctions/exercises/CoF6.pdf
./5-3CompositionOfFunctions/exercises/CoF3.pdf
./5-3CompositionOfFunctions/5-3-1CompositionOfFunctions.pdf
./5-3CompositionOfFunctions/5-3-2DomainsOfCompositeFunctions.pdf
./3-2FunctionProperties/3-2-2InverseFunctions.pdf
./3-2FunctionProperties/learningObjectives.pdf
./3-2FunctionProperties/exercises/FP3.pdf
./3-2FunctionProperties/exercises/exerciseList.pdf
./3-2FunctionProperties/exercises/FP2.pdf
./3-2FunctionProperties/exercises/FP7.pdf
./3-2FunctionProperties/exercises/FP8.pdf
./3-2FunctionProperties/exercises/FP1.pdf
./3-2FunctionProperties/exercises/FP6.pdf
./3-2FunctionProperties/exercises/FP4.pdf
./3-2FunctionProperties/exercises/FP9.pdf
./3-2FunctionProperties/exercises/FP10.pdf
./3-2FunctionProperties/exercises/FP5.pdf
./3-2FunctionProperties/3-2-1FunctionProperties.pdf
./3-2FunctionProperties/3-2-3FamousFunctionProperties.pdf
SkillReview9/exercises/11pi6.png
SkillReview9/exercises/2pi3.png
SkillReview9/exercises/3pi4.png
SkillReview9/exercises/4pi3.png
SkillReview9/exercises/5pi3.png
SkillReview9/exercises/5pi4.png
SkillReview9/exercises/5pi6.png
SkillReview9/exercises/7pi4.png
SkillReview9/exercises/7pi6.png
*.pdf
*.cls
